.modal1{
    justify-content: center;
  }
  .button {
      height: 50px;
      width: 200px;
      position: relative;
      background-color: transparent;
      cursor: pointer;
      border: 2px solid #252525;
      overflow: hidden;
      border-radius: 30px;
      color: #333;
      transition: all 0.5s ease-in-out;
      justify-content: center;
      margin-right: 20%;
      margin-left: 30%;
     margin-bottom: 10%;
  
    }
    
    .btn-txt {
      letter-spacing: 1px;
    
    }
    
    .type1::after {
      content: "";
      left: 0;
      top: 0;
      transition: all 0.5s ease-in-out;
      background-color: #78d77b;
      border-radius: 30px;
      visibility: hidden;
      height: 10px;
      width: 10px;
      z-index: -1;
    }
    
    .button:hover {
      box-shadow: 1px 1px 200px #70a66b;
      color: #fff;
      border: none;
    }
    
    .type1:hover::after {
      visibility: visible;
      transform: scale(100) translateX(2px);
    }
  .timeInput{
    margin-bottom: 10%;
    border-color: black;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }