.footer {
    background-color: #171818; 
    color: #fff;
    padding: 10px 0;
    transition: background-color 1s ease;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-column {
    width:15%;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column h4 {
    margin-bottom: 5px;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
    size:20px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: left;
    
    
    margin-top: 10px;
  }
  
.icon {
  font-size: 24px; 
  margin-right: 10px; 
  color: #333;
}


.facebook-icon {
  color: #fbfcfe; 
  width: 100;
  height: 100;
}



.p{
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
  }
  


.instagram-icon {
  color: #fbfcfe; 
  width: 100;
  height: 100;
}@keyframes changeColor {
  0% {
    background-color: #544747; 
  }
  50% {
    background-color: rgb(227, 224, 136); 
  }
  100% {
    background-color: #544747; 
  }
}

.footer:hover {
  animation: changeColor 10s infinite; 
}
.social-icons {
  display: flex;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin-right: 10px;
  
}